<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <description>This is the name of the search engine</description>
    <param-name>sda.name</param-name>
    <param-value>TFSearch</param-value>
  </context-param>
  <context-param>
    <description>Search engine description the registry</description>
    <param-name>sda.description</param-name>
    <param-value>TFSearch, built by Tom Murphy and Frank Egan. Results faster than your mother!</param-value>
  </context-param>
  <context-param>
    <param-name>sda.url</param-name>
    <param-value>http://localhost:8080/COMP4601-SDA/rest/sda/</param-value>
  </context-param>
  <listener>
    <listener-class>edu.carleton.comp4601.utility.SDAContextClass</listener-class>
  </listener>
  <display-name>COMP4601-SDA</display-name>
  <servlet>
    <servlet-name>COMP4601-SDA</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>edu.carleton.comp4601.resources</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>COMP4601-SDA</servlet-name>
    <url-pattern>/rest/sda/*</url-pattern>
  </servlet-mapping>
</web-app>